:root {
  --primaryor: #3E2C23;
  --secondary: #E76F2E;
  --accent: #F5E9D8;
  --blue: #2FA4D7;


  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Caveat&display=swap');