:root {
  --primary: #3E2C23;
  --secondary: #E76F2E;
  --accent: #F5E9D8;
  --blue: #2FA4D7;
  --brand-orange: #E67E43;
  --brand-bg: #F6EFE0;
  --brand-text: #4A433A;
  --brand-border: #D9CBB3;


  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Caveat&display=swap');

input, select {
  border: 1px solid var(--primary);
  padding: 0.5rem;
  border-radius: 0.45rem;
  width: 100%;
}

input:focus, select:focus {
  outline: none;
  border-color: var(--secondary);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgba(231, 111, 46, 0.5);
}

.signup-opt {
  border: 1px solid var(--primary);
  padding: 0.5rem;
  border-radius: 0.45rem;
  width: 100%;
  background: var(--brand-bg);
}

.signup-opt:hover {
  background: var(--brand-orange);
  color: white;
  border-color: var(--brand-orange);
  box-shadow: 0 0 0 1px rgba(230, 126, 67, 0.5);
}
/* 
.rounded{
  border-radius: 0.45rem !important;
  background-color: var(--brand-bg);
} */